<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	-->
	<link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css" />
	<link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
	<link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
	<link rel="stylesheet" href="assets/css/style.css" />
	<link rel="shortcut icon" href="assets/images/favicon.png" />

	<title>Overall Report</title>
	<style>
		.footer {
			margin-top: 40%;
		}
	</style>

	</style>

</head>

<body>

	<div class="container-scroller">

		<nav th:replace="index ::sidebar"></nav>

		<div class="container-fluid page-body-wrapper">
			<div th:replace="index ::nav-header"></div>
			<div class="main-panel">
				<div class="content-wrapper pb-0">


					<div class="container">
						<h2 class="text-center">Overall Report</h2>

						<!-- First Table -->
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Operator ID</th>
									<th>Operator Name</th>
									<th>Date</th>
									<th>Booth</th>
									<th>Return Type</th>
									<!-- <th>Action</th> -->
								</tr>
							</thead>
							<tbody id="reportTableBody">
								<tr>
									<!-- Dropdown for Operator ID -->
									<td>
										<select class="form-control" id="operatorId" required>
											<option value="" disabled selected>Select Operator ID</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>

										<!-- "Send" button below the dropdown -->
										<div class="mt-2">
											<button type="button" class="btn btn-success btn-block"
												id="sendButton">Send</button>
										</div>
									</td>

									<!-- Input field for Operator Name -->
									<td>
										<input type="text" class="form-control" id="operatorName"
											placeholder="Enter Operator Name" required>

										<!-- "Send" button below the dropdown -->
										<div class="mt-2">
											<button type="button" class="btn btn-success btn-block"
												id="sendButton">Send</button>
										</div>
									</td>


									<!-- Date picker for Date -->
									<td>
										<input type="date" class="form-control" id="date" required>
										
										<!-- "Send" button below the dropdown -->
										<div class="mt-2">
											<button type="button" class="btn btn-success btn-block" id="sendDateButton">Send</button>
										</div>
									</td>

									<!-- Dropdown for Booth -->
									<td>
										<select class="form-control" id="booth" required>
											<option value="" disabled selected>Select Booth</option>
											<option value="1"> 1</option>
											<option value="2"> 2</option>
											<option value="3"> 3</option>
											<option value="4"> 4</option>
											<option value="5"> 5</option>
											<option value="6"> 6</option>
										</select>
										
										<!-- "Send" button below the dropdown -->
										<div class="mt-2">
											<button type="button" class="btn btn-success btn-block" id="sendButton">Send</button>
										</div>
									</td>
									<td>
										<select class="form-control" id="returnType" required>
											<option value="" disabled selected>Select return type</option>
											<!--<option value="single">Single</option>
											<option value="return">Return</option>-->
											<option th:each="type : ${vehicleTypes}" th:value="${type.id}" th:text="${type.name}"></option>

										</select>
										<!-- "Send" button below the dropdown -->
										<div class="mt-2">
											<button type="button" class="btn btn-success btn-block" id="sendButton">Send</button>
										</div>
									</td>

									<!-- Button to add to table -->
									<!-- <td>
						                        <button type="button" class="btn btn-primary btn-custom" id="addReport">Add Report</button>
						                    </td> -->
								</tr>
							</tbody>
						</table>
						
						
						<!-- Second Table -->
						<h3 class="text-center mt-4">Additional Report Data</h3>
						<table class="table table-bordered">
						    <thead>
						        <tr>
						            <th>Sr No</th>
						            <th>Operator ID</th>
						            <th>Operator Name</th>
						            <th>Date</th>
						            <th>Booth</th>
						            <th>Return Type</th>
						        </tr>
						    </thead>
						    <tbody id="operatorReport">
						        <!-- Data will be populated here -->
						    </tbody>
						</table>

						</table>



					</div>






					<footer th:replace="index ::footer"></footer>
				</div>
			</div>
		</div>
	</div>


	<script src="assets/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script src="assets/vendors/chart.js/Chart.min.js"></script>
	<script src="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="assets/vendors/flot/jquery.flot.js"></script>
	<script src="assets/vendors/flot/jquery.flot.resize.js"></script>
	<script src="assets/vendors/flot/jquery.flot.categories.js"></script>
	<script src="assets/vendors/flot/jquery.flot.fillbetween.js"></script>
	<script src="assets/vendors/flot/jquery.flot.stack.js"></script>
	<script src="assets/vendors/flot/jquery.flot.pie.js"></script>
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="assets/js/off-canvas.js"></script>
	<script src="assets/js/hoverable-collapse.js"></script>
	<script src="assets/js/misc.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->
	<script src="assets/js/dashboard.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="script/overallReport.js"></script>
		
</body>
</html>